/* ----------- This is where the atributes will go ---------*/
/*---- in alphabetical order----*/
body {
  background-color: #a4ebf3;
}

h1 {
  color: #aaaaaa;

}

p {
  color: #aaaaaa;
}


/* ----------- This is where the classes will go ---------*/
/*---- in alphabetical order----*/

.pet-img {
  size: 100px;

}
