/* ----------- This is where the tags will go ---------*/
/*---- in alphabetical order----*/
/*-- Any modification to general tags just do them here if they are special for any special
div just try to create a new class ----*/

body{
  margin: 0;
}

h1 {
  color: #aaaaaa;
  margin-top: 0;
  margin-left: 50px;

}

h2 {
  color: black;
  margin-top: 0;
  margin-left: 40px;

}

img {
  height: 20;
  width: 20;
}


/* ----------- This is where the classes will go ---------*/
/*---- in alphabetical order----*/

.buttonpart {
  margin: 30px 30px 50px 20px;

}

.containerpage1 {
  color: #1e90ff;
  background-color: #ffffff;
  font-family: cursive;
  padding: 100px;
}

.inforecordbox{
  margin-left: 100px;
  background-color: #a4ebf3;
}

.legalmsg {
  font-family: cursive;
}

.petinfobox{
  margin-left: 100px;
  background-color: #a4ebf3;
}
.selectbutton {
  background-color: #ccf2f4;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: width 2s;

}

.selectbutton:hover {
  background-color: #a4ebf3;
  color: Blue;
  height: 100px;
  width: 100px;
}

.topintro{
  background-color: #a1cae2;
  border: #a7c5eb solid;
  border-width:thin;
  font-family: cursive;

}

.userinfobox {
  margin-left: 100px;
  background-color: #a4ebf3;
}

.userprofilebox{
  margin-left: 100px;
  background-color: #a4ebf3;
}

/* ----------- This is where the id selectors will go ---------*/
/*---- in alphabetical order----*/
/*---- id's will be mainly used to link JS code to the database and lasts pages
try to figure how to link the id to the last page and the profle----*/

#Bird{

}

#Cat{

}

#Dog{

}

#Fish{

}

#foodkind{

}

#foodmonth{

}

#foodspend{

}

#housingkind{

}

#housingspend{

}

#Housingmonth{

}

#numberpets{

}

#petsize{

}

#ReptileAmphibian{

}

#Rodent{

}

#toyskind{

}

#toysmonth{

}

#toysspend{

}

#Usercity{

}

#UserCountry{

}

#Useremail{

}

#UserLastName {

}

#UserName {

}

#UserPhoneNumber{

}
